.button {
  width: 72.5px;
  height: 50px;
  background-color: gray;
  border-radius: 20px;
  text-align: center;
  font-size: 35px;
  margin: 2px;
  padding-top: 10px;
}

.right-col-button {
  background-color: orange;
}

.empty-button {
  background-color: gainsboro;
}

.button:hover {
  background-color: black;
  color: white;
  cursor: default;
}

.row {
  display: flex;
  flex-direction: row;
}
