.result-display {
  width: 305px;
  margin-bottom: 10px;
  height: 90px;
  background-color: #444444;
  color: white;
  border-radius: 20px;
  overflow: hidden;
  white-space: nowrap;
}

.result-span {
  float: right;
  font-size: 30px;
  padding-top: 30px;
  padding-right: 10px;
}
